h1{color: #b666ab; /*Kleur van de kopjes*/
    font-family: 'Times New Roman', Times, serif;

/* Dit is commentaar voor css*/

/*opmaak van menu*/
}  
#ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8e4083;
    
}

ul li {
    float: left;

}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

ul li a:hover {
    background-color:#b666ab;
}

div{
    font-family: 'Times New Roman', Times, serif; /*Lettertype van de tekst*/
    border-style: solid; /*Vorm van de border*/
    border-color: #8e4083; /*Kleur van de border*/
}


/*opmaak van index bestand.*/
#p1{
    font-family: 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: #8e4083;
    width: 50%;
}
/*Opmaak van binair stelsel bestand.*/




/*Opmaak van kleurmodel bestand*/
table, td, th{
    border: 3px solid;
    border-color: #8e4083;
    font-family: 'Times New Roman', Times, serif;
}
table{
    border-collapse: collapse;
    float: right;
    margin-right: 250px;
}





/*Opmaak van compressie bestand.*/
#ul2{ /*Dit zijn de bullet points in het compressie bestand*/
    list-style-type: disc;
}

#ul3{
    list-style-type: disc;
}

#p1com{ /*Opmaak van <div> in het bestand compressie*/
    font-family: 'Times New Roman', Times, serif; 
    border-style: solid; 
    border-color: #8e4083; 
    width: 50%;
    float: left;
}

#p2com{
    font-family: 'Times New Roman', Times, serif;
    border-style:solid ;
    border-color: #8e4083;
    width: 50%;
    float: right;
}





