h1{color: white;                                       /* Kleur van de kopjes*/
    font-family: 'Times New Roman', Times, serif;        /* Dit geeft het lettertype aan.*/

/*opmaak van menu*/
}  

#ul1 {
    list-style-type: none;      /* Dit geeft de vorm van de bullet point aan.*/
    margin: 0;                  /* Margin geeft de ruimte tussen elementen.*/
    padding: 0;                 /* Padding geeft de ruimte tussen de inhoud en de border van het element aan.*/
    overflow: hidden;
    background-color: #8e4083;   
}

ul li {
    float: left;

}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

ul li a:hover {
    background-color:#b666ab;
}

div{
    font-family: 'Times New Roman', Times, serif;       /* Lettertype van de tekst*/
    border-style: solid;                                /* Vorm van de border*/
    border-color: #8e4083;                            /* Kleur van de border*/
    padding: 20px;
}

footer{
    background-color:#8e4083;
    color: white;
    padding: 20px;
    position: fixed;
}


/* Container die tekst en afbeelding naast elkaar plaatst */
.container {                    /* Een class wordt in een CSS bestand aangetoond met een punt.*/
    display: flex;              /* Flex zorgt ervoor dat de elementen in de container makkelijk kunnen bewegen.*/
    align-items: flex-start;    /* Zorgt ervoor dat de bovenkant wordt uitgelijnd.*/
    gap: 20px;                  /* Dit geeft de ruimte aan tussen de tekst en de afbeelding*/
    margin-bottom: 20px;        /* Dit geeft de ruimte aan onder de container.*/
}

/*opmaak van index bestand.*/
#p1{
    font-family: 'Times New Roman', Times, serif;
    border-style: solid;
    border-color: #8e4083;
    width: 50%;
    padding: 20px;
}

/* Afbeelding naast de eerste teks.*/
.music-poster {
    width: 200px;
    height: 200px;
    object-fit: cover;       /*Zorgt ervoor dat het niet gaat vervormen.*/
    border-radius: 5px;      /*Maakt de hoekjes mooi*/
}

/* Opmaak van binair stelsel bestand */
#ascii {
    width: 700px;      
    height: auto;      /* De auto zorgt ervoor dat de hoogte zich automatisch aanpast.*/
    cursor: pointer;   /* Als je over de afbeelding heen gaat verandert de cursor in een handje. Dat laat zien dat het klikbaar is.*/
    margin-top: 20px;
}

#game-container {
    margin-top: 20px;
}

/*Opmaak van kleurmodel bestand*/
table{
    border-collapse: collapse;
    padding: 20px;
}

table, td, th{
    border: 3px solid;
    border-color: #8e4083;
    font-family: 'Times New Roman', Times, serif;
}
td, th{
    border: 1px solid;
    padding: 8px;
}

tr:hover{
    background-color: #b666ab;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #8e4083;
}

#cmymodel{
    width: 300px;
    height: auto;
}

/*Opmaak van compressie bestand.*/
#ul2{                               /*Dit zijn de bullet points in het compressie bestand*/
    list-style-type: disc;          /*Dit geeft de vorm van de bullet point aan.*/
}

#ul3{
    list-style-type: disc;
}

 /*Opmaak van <div> in het bestand compressie*/
#p1com{ 
    font-family: 'Times New Roman', Times, serif; 
    border-style: solid; 
    border-color: #8e4083; 
    float: left;
}

#p2com{
    font-family: 'Times New Roman', Times, serif;
    border-style:solid ;
    border-color:#8e4083;
    float: left;
    background-color: rgb(245, 186, 245);
}

#pixels{
    padding-top: 5px;
}
