h1{color: red;

/* Dit is commentaar voor css*/

}
ul{
    list-style-type: none;
    background-color: firebrick;
    display: block;
    margin: 0;
    padding: 0;
    color: white;
}
ul li a:hover{
    background-color: whitesmoke;
}



